
cluster_nodes:
  master:
{% for mast in master %}
    - {{ mast }}
{% endfor %}
  proxy:
{% for prox in proxy %}
    - {{ prox }}
{% endfor %}
  management:
{% for mgmt in management %}
    - {{ mgmt }}
{% endfor %}

storage_class: {{ storageclass_name }}

default_admin_user: {{ cp_admin_username }}
default_admin_password: {{ cp_admin_password }}

chart_repo:
  addons:
    url: "https://na.artifactory.swg-devops.com/artifactory/ui/artifactactions/downloadfolder?repoKey=hyc-cloud-private-{{ cp_stage }}-helm-local&path=latest&archiveType=tgz&includeChecksumFiles=false"
    header: "X-JFrog-Art-Api: {{ cp_repo_token }}"


image_repo: {{ cp_repo_server }}/{{ cp_repo_namespace }}
private_registry_enabled: true
private_registry_server: {{ cp_repo_server }}
docker_username: {{ cp_repo_user }}
docker_password: {{ cp_repo_token }}

{{ cp_additional_config }}

